html{
    height: 100%;
}


body {
    background: white;
    display: inline;
    font-family: arial;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    min-height: 100%;
}
.sidepub{
    width: 10%;
}


a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

footer {
    overflow: visible;
    background-color: #D47404;
    width: 100%;
    clear: both;
    z-index: 10;
    height: 3em;
    margin-top: 50px;
    position:relative;
    bottom:0;
    left:0;
    color: white;

}

footer a:link, footer a:visited {
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: right;
    margin: 6% 0;
}

footer a:hover, footer a:active {
    background-color: #B2B0AF;
}

h2{
    background-color: #D47404;
    border: 1px solid #959595;
    color: white;


}

.slidercontainer{


    margin-top: -5px;
    padding: 0 0;
}

.coluna {
	margin-left: 0%;
    border-radius: 0px;
    float: left;
    padding: 0;

}

.linha {
	border-radius: 0px;
	padding: 0 0%;
	display: block;
}

.caixastexto{

    border-radius: 0px;
    padding: 1% 0% 0 0;
    margin-top: 10px;
    margin-bottom: 5px;
}

#botao_registar{
    margin-right: 10%;
    float: right;
}

#botao_login{

    margin-left: 10%;
    display: inline-block;
}





ul{
margin: 0;
padding: 0;
box-sizing: border-box;

}

ul.parent > li {
    float: left;
    width: 20%;
    text-align: center;
    padding: 10px;
    color: white;
    border: 1px solid #959595;
    cursor: pointer;
    background-color: #B3ACA6;
    border-radius: 5px;
    font-size:20px;
}


ul.child{
    display: none;
    width: 100%!important;
    padding-top: 10px;
    font-size:15px;
}

ul.child > li {
    
    border-top: 1px solid #959595;
    margin-top: 3px;
    
    
}

li{
    list-style: none;  
}

#username{
   margin-top: 55px;
    width: 10%;
}

#carrinho{
   
   margin-top: 55px;
    width: 10%;
}



#caixapesquisa{
    margin-left: 50%;
    height: 20px;
    margin-top: 5px;
    width: 100%;
}

#livesearch{
    margin-left: 50%;
    width: 100%;
    color: black;
   
}



#headerLogo{
    margin: 12.5px 0px;
    height: 75px;
    width: 75px;
    margin-left: 50px;

}

#container_botoes{

width: 55%;
color: red;
padding-top: 55px;
padding-left: 10%;


}

#container_caixas{

padding: 0 0 0 0%;


}

header{
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    background-color: #D47404;
    position: relative;
    top: 0;
    width: 100%;
    height: 100px;
    display: inline-block;
    
    overflow: visible;
}

#botao_login {
    background-color: #B3ACA6;
    color: white;
    padding: 4px 8px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

#botao_registar {
    background-color: #B3ACA6;
    color: white;
    padding: 4px 8px;
    text-align: center; 
    text-decoration: none;
    
}

#botao_login:hover, #botao_login:active {
    background-color: #444549;
}

#botao_registar:hover, #botao_registar:active {
    background-color: #444549;
}

#linktabela{

color: black;

}

#pub{

color: black;
float: middle;

}
table {
    border: 1px solid #dddddd;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
table h4 {
    margin: 10px 0 0 0;
}

th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px 8px 8px 1%;
    background-color: #D47404;

}
td {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    padding: 8px 8px 8px 2%;
}

.x_remove_table{

    height: 25px;
    width: 25px;

}